@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Steelfish";
  src: url(../fonts/steelfish\ rg.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Steelfish";
  src: url(../fonts/steelfish\ rg.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400;
  font-style: normal;
}

:root {
  --peach-color: #F49C89;
  --dark-color: #34344E;
  --light-blue-color: #ECEEF8;
  font-size: 62.5%;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-color);
  margin: 0 auto;
  box-sizing: border-box; 
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

h1 {
  color: var(--light-blue-color);
  font-family: "Steelfish", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 110%;
}

h2 {
  color: var(--light-blue-color);
  font-family: "Steelfish", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 110%;
}

h3 {
  color: var(--dark-color);
  font-family: "Steelfish", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 110%;
}

p {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  color: var(--dark-color);
}

button {
  line-height: 140%;
  cursor: pointer;
}
hr {
  border: none;
  height: 0.5px;
  background-color: black;
  opacity: 30%;
}

.footer_hr {
  width: 100%;
  background-color: #ECEEF8;
}
ul {
  padding-inline: 0;
}
.phonenumber {
  font-size: 1.5rem;
}

li p {
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--peach-color);
}


li a {
  color: var(--peach-color);
  text-decoration: underline;
}
section{
  padding: 20px;
}

ul > p {
  color: var(--dark-color);
}

footer {
  min-height: 484px;
}

.middle_wrapper_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 360px;
  min-width: 340px;
}
.footer_menu_wrapper {
  display: flex;
}

.footer_menu_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper_section_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.header_logo {
  order: 1;
}

.header_phone {
  order: 2;
}

.header_menu {
  order: 3;
}

.flex_inline_between {
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
}
.middle_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 360px;
  min-width: 340px;
}
.btn_dark {
  background-color: var(--dark-color);
  color: white;
  border-style: none;
  border-radius: 5rem;
  padding: 1.3rem 3rem;
}

.btn_peach {
  background-color: var(--peach-color);
  color: white;
  border-style: none;
  border-radius: 5rem;
  padding: 1.3rem 3rem;
}

.price {
  margin: 0;
  font-family: "Steelfish", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4rem;
}

.price_text {
  opacity: 50%;
  margin: 0;
}

.request_text {
  color: var(--dark-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.dark_text {
  color: var(--dark-color);
}
.footer_menu {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer_menu a {
  color: white;
  text-decoration: none;
}

.zone_item {
  background-color: white;
  border-radius: 10px;
}

.comfort_item {
  background-color: white;
  border-radius: 10px;
}

.comfort_item_last {
  background-color: var(--peach-color);
  border-radius: 10px;
}

.radio_list {
  background-color: white;
  border-radius: 10px;
}

.equipment_item {
  border-color: var(--peach-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}

.peach_back {
  background-color: var(--peach-color);
}

.block_item {
  padding-inline: 20px;
  padding-block: 10px;
  margin-top: 10px;
}
.socials a {
  padding-right: 5px;
}
.without_marker {
  list-style-type: none;
  padding-left: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid var(--peach-color);
  background-color: var(--light-blue-color);
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--peach-color);
}

.form_radio {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.radio_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.radio_elements {
  display: grid;

}

.button_radio {
  margin-top: 10px;
  width: 100%;
}

.list_with_markers {
  list-style-image: url();
}

.info_footer {
  opacity: 50%;
}
